:root {
  --nav-color: #faca45;
  --primary-color: #008cff;
  --discount: #ff9900;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*section #h4 {
  opacity: 0;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 40px;
  color: var(--nav-color);
  animation: fade 2s ease forwards 1s;
}
@keyframes fade {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}*/

.logoname {
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: -7%;
  font-size: 50px;
  font-family: cursive;
  color: var(--nav-color);
  animation: slideContent 0.5s linear 0.5s backwards;
}
.logoimg {
  margin-top: 150px;
  margin-bottom: 180px;
}
.logoimg img {
  width: 35%;
  margin-left: 40%;
  animation: shoe 1s linear;
  transform: rotate(0deg);
}
@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}
@keyframes shoe {
  0% {
    transform: scale(0.5);
  }
}
.home-text {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: -170px;
}
a {
  text-decoration: none;
}
a .product .price {
  text-decoration: none;
  color: #000000;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  background-color: var(--nav-color);
  z-index: 2;
}
body {
  overflow-x: hidden;
}
.logo {
  color: var(--primary-color);
  letter-spacing: 5px;
  font-size: 30px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%; /*Select space*/
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: bold;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px;
}
.products {
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.product {
  margin-top: 20px;
  width: 250px;
  height: 400px;
  overflow: hidden;
  border: 0.3px solid #00000034;
  border-radius: 5px;
}
.feature {
  margin-top: 20px;
  width: 250px;
  height: 450px;
  overflow: hidden;
  border: 0.3px solid #00000034;
  border-radius: 5px;
}
.big {
  width: 250px;
  height: 350px;
}
.big img {
  width: 100%;
}
.big img:hover {
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
}
.small {
  margin-left: 9%;
  justify-content: center;
}
.small img {
  height: 50px;
  border: 0.3px solid #00000034;
  border-radius: 5px;
}
.price span::before {
  content: "₹";
}
.price span {
  color: var(--discount);
  text-decoration: line-through;
}
.heading {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.heading span {
  color: var(--discount);
  text-decoration: none;
}
.heading span:before {
  content: "";
}
.price {
  text-align: center;
  margin-top: 15px;
}
.price::before {
  content: "₹";
}
.image {
  width: 250px;
  height: 350px;
}
.image img {
  width: 100%;
}
.image img:hover {
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.more a {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 80%;
  font-size: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 15px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.foot-logo {
  margin-top: -20px;
  padding-top: -20px;
  color: white;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  text-align: center;
}
.foot-logo svg {
  height: 50px;
  margin-top: -20px;
}
svg path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  animation: line-ani 2s ease forwards infinite;
  z-index: 100;
}
@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--nav-color);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  transition: all 0.5s ease;
}
.social-links a img {
  width: 40px;
  height: 40px;
}
.pic {
  margin-left: 20%;
}
.pic img {
  margin-top: -30%;
  width: 260px;
  height: 380px;
}
.cont h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
}
.cont {
  margin-left: 10%;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  .logoimg {
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .logoname {
    margin-left: 100px;
  }
  .home-text {
    margin-top: -80px;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    min-height: 10vh;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--nav-color);
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;
    opacity: 100;
    display: none;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-links li {
    display: block;
  }
  .nav-links li {
    text-align: center;
    margin-top: 15%;
  }
}
.nav-active {
  transform: translateX(0%);
  display: block;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-col h4::before {
    margin-left: 35%;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    text-align: center;
  }
  .footer-col h4::before {
    margin-left: 40%;
  }
  .logoname {
    margin-left: 15px;
  }
  .logoimg img {
    width: 250px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 400px) {
  .pic {
    margin-left: 10%;
    width: 200px;
    height: 300px;
  }

  .cont {
    margin-top: 7%;
  }
  .home-text {
    margin-top: -80px;
  }
}
@media screen and (max-width: 300px) {
  .pic {
    margin-left: 3%;
  }
}
